POSTGRES_USER=homeez
POSTGRES_PASSWORD=homeez
POSTGRES_DB=homeez
POSTGRES_PORT=5432

BACK_PORT=3001
FRONTEND_URL=http://localhost:3000

JWT_SECRET=your_super_secret_jwt_key_here_for_dev_min_32_bytes
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here_for_dev_min_32_bytes
JWT_REFRESH_EXPIRES_IN=7d


FRONT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001