POSTGRES_USER=homeez
POSTGRES_PASSWORD=homeez
POSTGRES_DB=homeez
POSTGRES_PORT=5432

BACK_PORT=3001
FRONTEND_URL=http://localhost:3000

JWT_SECRET=4f8b9e2a1c7d3f6e8b5a2c9d1e4f7a3b8c2d5e9f1a4b7c3d6e9f2a5b8c1d4e7
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=7c2a5b8d1e4f9a3c6e8b2d5f9a1c4e7b3d6f9a2c5e8b1d4f7a3c6e9b2d5f8a1
JWT_REFRESH_EXPIRES_IN=7d


FRONT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001